.list {
  width: 100vw;
  &__form {
    position: fixed;
    top: 56px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $background-color;
    z-index: 1;
    margin-top: 0.5rem;
  }
  &__search-icon-button {
    font-size: 1.5rem !important;
    padding: 0 0 0 1rem;
  }
  &__search-field {
    margin: 0 1rem;
    overflow: auto;
    width: fit-content;
    min-width: calc(100vw - 2rem);
    & .mat-mdc-icon-button.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: 1rem;
      width: var(--mdc-icon-button-state-layer-size);
      height: var(--mdc-icon-button-state-layer-size);
      padding: 0rem 1rem 0rem .5rem;
    }
    & .mat-mdc-form-field-icon-suffix {
      padding: 0 1rem 0 1rem;
    }
    & .material-icons {
      font-size: 1.2rem;
    }
    & .mat-mdc-form-field-icon-prefix {
      min-height: auto;
      padding-bottom: 0;
    }

    &.mat-mdc-form-field {
      min-width: calc(100vw - 2rem);
    }

  }
  &-content {
    margin-top: 80px;
    margin-bottom: 55px;
    // height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    overflow: visible;

  }
  &-container {
    flex: 1 1 auto;
    // height: 100%;
    margin: auto .5rem;
    // display: inline-block;
    vertical-align: top;
    // overflow: auto;
  }

  &-item {
    border: solid 1px #ccc;
    min-height: 50px;
    background:$grey-dark-1;
    border-radius: 4px;
    overflow: hidden;
    display: block;

    &__box {
      padding: 5px 5px;
      border-bottom: solid 1px #ccc;
      color: $grey-light-1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      background: $grey-dark-2;
      font-size: 14px;
    }

    &__title {
      flex: 1 1 auto;
    }

    &__actions {
      display: flex;
      flex-wrap: nowrap;
      // width: 80px;

      button {
        min-width: 10px;
        padding: 0;
      }

      &--handle {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        cursor: move;
      }
    }
  }

  &-footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    bottom: 0px;
    width: 100%;
    //height: 30px;
    background-color: $background-color;
    padding: 0 .5rem;
    font-size: .8rem;
    z-index: 1;
    border-top: 1px solid $grey-light-1;
  }

  &-totals {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &-actions {
    width: 50%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    & div {
      display: flex;
      justify-content: space-around;
      // margin-right: 1rem;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.display-none {
  width: 0px;
  height: 0px;
  border: none;
}
