.list-home {
  display: flex;
  flex-direction: column;
  width: 100vw;

  &__card {
    background-color: $grey-dark-1;
    margin: 0.5rem 1rem;

    a {
      text-decoration: none;
    }

    &-image {
      width: 100px;
      height: 100px;
    }

    &-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
        display: flex;
        align-items: center;
        a:link, a:visited, a:hover, a:active  {
          color: $grey-light-1;
        }
      }
    }
  }
  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--owner {
      color: $accent;
    }

    &--shared-user {
      color: $primary;
    }
    & span {
      font-size: .7rem;
    }

    &-img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: auto .5rem;

      &--owner {
        border: 2px solid $accent;
      }

      &--shared-user {
        border: 2px solid $primary;
      }
    }
  }

  &__add-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
  }

  & .mat-card-content {
    display: flex;
    flex-direction: row;
  }
}
