.sidenav {
  height: 100%;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
    width: 65vw;
    max-width: 300px;
    background-color: rgb(40, 1, 56);

    &-name {
      font-weight: bold;
    }
  }

  &__menu {
    list-style-type: none;
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    
    &-item {
      display: flex;
      align-items: center;
      height: 2rem;
      margin: 0;
      padding: 1rem;
      a {
        padding: 1rem;
      /* unvisited link */
      &:link {
        color: $grey-light-1;
        text-decoration: none;
      }

      /* visited link */
      &:visited {
        color: $grey-light-2;
      }

      /* mouse over link */
      &:hover {
        color: $grey-dark-1;
      }

      /* selected link */
      &:active {
        color: $grey-light-1;
      }

      }
      &:hover {
        background-color: rgb(51, 50, 50);
      }
    }
  }
}
