.toolbar {
  &__row {
    display: block;
    justify-content: space-between;
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 64px;
  }

  &__language-button {
    display: flex !important;
    align-items: center;
    img {
      width: 20px;
      height: 12px;
      margin: 1rem;
    }
  }
}
