<div *ngIf="list">
  <form [formGroup]="listForm" class="list__form">
    <mat-form-field class="list__search-field">
      <mat-label>{{ 'global.searchOrAdd' | translate}}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" matInput formControlName="search" autocomplete="off"
        (input)="getFilteredItems($event.target.value)" x-webkit-speech>
      <div matSuffix>
        <button class="list__search-icon-button" mat-icon-button aria-label="Code scanner">
          <mat-icon>qr_code_scanner</mat-icon>
        </button>
        <button class="list__search-icon-button" mat-icon-button aria-label="Code scanner">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="list__search-icon-button" mat-icon-button aria-label="Code scanner" (click)="clear()">
          <mat-icon>clear</mat-icon>
        </button>
        <button class="list__search-icon-button" mat-icon-button aria-label="Code scanner" (click)="addItem()">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </form>
  <div class="list-autocomplete" *ngIf="search.length > 0">
    <div *ngFor="let item of foundItems" class="list-autocomplete">
      {{item.name}}
    </div>
  </div>
  <div class="list-items" *ngFor="let item of list.items">
    {{ item.name }}
  </div>
</div>