<mat-drawer-container class="home" autosize hasBackdrop>
  <mat-drawer #drawer fixedInViewport="true" mode="over">
    <div class="sidenav__header">
      Menú
    </div>
    <ul>
      <li>
        <a [routerLink]="['']" routerLinkActive="router-link-exact-active" (click)="drawer.close()">Home</a>
      </li>
      <li>
        <a [routerLink]="['/scanner']" routerLinkActive="router-link-exact-active" (click)="drawer.close()">Scanner</a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <app-navigation-bar (toggleSidenav)="drawer.toggle()" class="home__toolbar"></app-navigation-bar>
    <div class="home__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      <br /><br /><br />
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>