.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  &__card {
    max-width: 500px;
    width: 85%;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}