<div class="dialog">
  <div class="dialog-header">
    <h2>{{ 'image-attach.title' | translate }}</h2>
    <button mat-icon-button [mat-dialog-close]="false" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <span class="list-gallery-title">{{ 'lists.cards' | translate }}</span>

    <div class="list-gallery-container">

      @for (card of data.cards; track card) {
      <img src="{{card.file}}" alt="{{ 'image' | translate }}" (click)="onImageClick($event)">
      } @empty {
      <span>No hay ninguna tarjeta asociada a esta lista</span>
      }
    </div>
    <span class="list-gallery-title">{{ 'lists.images' | translate }}</span>
    <div class="list-gallery-container">
      @for (image of data.images; track image) {
        <img src="{{image}}" alt="{{ 'image' | translate }}" (click)="onImageClick($event)">
      }@empty {
        <span>No hay imagenes asociadas a esta lista</span>
      }
    </div>
    <span class="list-gallery-title">{{ 'lists.files' | translate }}</span>
    <div class="list-gallery-container">
      @for (file of data.files; track file) {
        <div class="list-gallery-file-list">
          <div><mat-icon>file</mat-icon> </div> <div>{{ file.date | date: 'dd/MM/yyyy' }}</div> <div>{{ file.type }}</div>
        </div>
      } @empty {
        <span>No hay archivos asociados a esta lista</span>
      }
    </div>
  </div>
</div>
@if(showLargeImage) {
<div class="large--image">
  <img src="{{ imgSrc }}" alt="{{ 'image' | translate }}" (click)="toggleLargeImage()">
</div>
} @else {
}
