<mat-drawer-container class="home" autosize hasBackdrop>
  <mat-drawer #drawer fixedInViewport="true" mode="over">
    <div class="sidenav__header">
      <div class="sidenav__header-name" *ngIf="session.user">
        {{session.user.username}}
      </div>
      <div class="sidenav__header-email" *ngIf="session.user">
        {{session.user.email}}
      </div>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="sidenav__menu-item">
            <a [routerLink]="['/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="drawer.close(); onHome();">
              <mat-icon>list</mat-icon><span>{{'sidenav.menu.myLists' | translate}}</span>
            </a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="sidenav__menu">
          <li class="sidenav__menu-item" *ngFor="let list of userLists | async">
            <a [routerLink]="['/list/' + list._id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              (click)="drawer.close()">
              <mat-icon>playlist_add_check</mat-icon><span matTooltip="{{list.description}}">{{ list.name }}</span>
            </a>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="sidenav__menu-item">
            <a [routerLink]="['/finance']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon>insert_chart_outlined</mat-icon><span>{{'sidenav.menu.finance' | translate}}</span>
            </a>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="sidenav__menu-item">
            <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <mat-icon>settings</mat-icon><span>{{'sidenav.menu.configuration' | translate}}</span>
            </a>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <app-navigation-bar (toggleSidenav)="drawer.toggle()" class="home__toolbar"></app-navigation-bar>
    <div class="home__content">
      <div class="home__toolbar-space"></div>
      <router-outlet></router-outlet>
      <div class="home__footer-space"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
