<div class="dialog">
  <header class="dialog-header">
    <h2>{{ 'invoices.addInvoice' | translate }}</h2>
    <button
      mat-icon-button
      aria-label="close dialog"
      mat-dialog-close
      onclick="this.blur()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <main class="dialog-content">
    <div class="list-gallery-fileUploadd">
      <button type="button" mat-raised-button (click)="file.click()" class="margin-bottom--m">
        <mat-icon>upload</mat-icon>
        {{'global.actions.selectFile' | translate}}
      </button>
      <input hidden id="file" #file type="file" (change)="onFileSelected($event)">
    </div>
@if (fileToUpload) {
  <div class="add-invoice-file">
    <div>{{ fileToUpload.name }}</div>
    <div>{{ fileToUpload.size | filesize }}</div>
  </div>
}

  </main>
  <footer class="dialog-footer">
      <div class="dialog-actions">
        <button  mat-button extended
        aria-label="close dialog"
        mat-dialog-close
        onclick="this.blur()"
      >
        <mat-icon>close</mat-icon>{{ 'global.actions.close' | translate }}
      </button>
        <button mat-flat-button color="primary" (click)="save()" [disabled]="!fileToUpload" cdkFocusInitial>
          <mat-icon>save</mat-icon>{{ 'global.actions.send' | translate }}
        </button>
      </div>
  </footer>
</div>
