<div class="finance">
  <header class="finance-header">
    <h2>{{ 'finance.title' | translate }}</h2>
  </header>
  <div class="finance__filter">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'finance.advancedSearch' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>{{
          'finance.filter.dateGroups.title' | translate
        }}</mat-label>
        <mat-select
          value="day"
          [(ngModel)]="selectedGroupDate"
          name="dateGroup"
          (selectionChange)="groupData()"
        >
          <mat-option *ngFor="let group of dateGroupsSelect" [value]="group">
            {{ 'finance.filter.dateGroups.' + group | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="finance__filter-chip-list">
        <mat-label>{{ 'finance.filter.tags.title' | translate }}</mat-label>
        <mat-chip-grid #chipGrid aria-label="Tag selection">
          @for (tag of tags; track tag) {
          <mat-chip-row (removed)="remove(tag)">
            {{ tag }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
        <input
          placeholder="tag..."
          #tagInput
          [formControl]="tagCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </div>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="{{ 'finance.tabs.graphic' | translate }}">
      <canvas id="ctx"></canvas>
    </mat-tab>
    <mat-tab label="{{ 'finance.tabs.table' | translate }}">
      <div class="finance__total">
        Total: {{ globalTotal | currency : 'EUR' : 'symbol' : '1.2-2' : 'es' }}
      </div>
      <div class="finance__table mat-elevation-z8">
        <table mat-table [dataSource]="tableDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'finance.table.col.date' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.date | date : 'YYYY-MM-dd' }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'finance.table.col.list' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>
              {{ 'finance.table.col.amount' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.total | currency : 'EUR' : 'symbol' : '1.2-2' : 'es' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
