html, body { 
  margin: 0;  
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host zxing-scanner::ng-deep {
  max-height: 80vh;
  width: 100vw;
  object-fit: contain;
}

.scanner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
zxing-scanner {
  max-width: 90%;
}